.projects-nav {
	width: 100%;
	float: right;
	margin-top: 1vw;
}

.projects-nav > .project-link {
	border: 1px solid black;
	margin-right: 1vw;
	width: 5vw;
	height: 2vw;
	border-radius: 30px;
	color: black;
	text-decoration: none;
	text-align: center;
	line-height: 2vw;
	float: right;
}
