.info-container {
	position: absolute;
	top: 15vh;
	right: 5%;
	width: 50%;
	height: 80%;
}

.info-container > .info {
	width: 80%;
	height: auto;
	margin: auto;
}

.info .links {
	width: 100%;
	height: 4vh;
	margin-top: 10vh;
	display: flex;
	justify-content: space-between;
}
.info .links a {
	text-decoration: none;
	color: black;
	font-size: 1.2em;
	font-family: Quicksand;
	transition: transform 250ms ease-in-out;
}
.info .links a:hover {
	transform: scale(1.1);
}
.info .links a svg {
	height: 100%;
	width: 4vh;
	padding-right: 1vh;
	color: black;
}

.info-container > .info > h1 {
	text-align: center;
	margin-bottom: 5vh;
	font-size: 5em;
	letter-spacing: 1vh;
	font-family: 'Montserrat';
	font-weight: 300;
	border-bottom: 2px solid white; /* rgb(133, 199, 222); */
}
.info-container > .info > p {
	font-family: 'Raleway';
	font-size: 1.1em;
	margin-bottom: 2vh;
	letter-spacing: 2px;
}

.info-container > nav {
	width: 100%;
	margin-top: 20vh;
}

.info-container > nav > ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.info-container > nav > ul > a {
	width: 25%;
	font-size: 1.8em;
	color: black;
}

.info-container > nav > ul > a > li {
	display: inline-block;
	width: 100%;
	height: 3vw;
	line-height: 3vw;
	text-align: center;
	border-bottom: 1px solid black;
	transition: 300ms ease-in-out;
}
.info-container > nav > ul > a > li:hover {
	transform: scale(1.1);
	box-shadow: 5px 0 10px white;
	border-radius: 20px;
}
